h1,
h2,
h3 {
  font-family: "Raleway", sans;
  //font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

body,
.v-card__title {
  font-family: "Raleway", sans;
  font-weight: 400;
}
.v-application .headline {
  color: #ff781b;
  font-family: "Raleway", sans;
  font-weight: 400;
}
.v-main {
  background: #f7f7f7;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #ff781b !important;
  color: white;
  cursor: pointer;
}